# Ignore everything in Results
visualization/results/*

# But keep SVGs
!visualization/results/*.svg

# QMK build artifacts
.qmk_build/
.build/
*.elf
*.bin
*.hex

# macOS system files
.DS_Store

# Python cache
__pycache__/
*.pyc

# Backup / temp files
*~
*.swp